body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

#searchField {
    display: flex;
    justify-content: space-between;
    width: 600px;
    margin-bottom: 20px;
}

#countryInput {
    font-size: 16px;
    border: 1px solid black;
    border-radius: 10px;
    margin-right: 10px;
    text-align: center;
    height: 30px;
    width: 600px;
}

#searchButton {
    padding: 10px 20px;
    background-color: #be46fa;
    color: white;
    border-radius: 10px;
    border: 1px solid black;
    cursor: pointer;
    
}

#radioField {
    display: flex;
    justify-content: flex-start;
    width: 600px;
    margin-bottom: 20px;
}


#radioField label {
    margin-right: 30px;
}


#resultField {
    width: 600px;
    text-align: left;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    max-height: 300px;
    overflow-y: auto;
}

#resultField ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

